<table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <%= render :partial => 'product_list' %>
      <td width="769" valign="top" style="padding-top:14px;">
        <table width="768" border="0" align="right" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td height="35" background="<%= image_url('barbg.jpg') %>">
            <table width="744" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td width="206">
                <span class="STYLE2">公司简介</span>
              </td>
              <td width="538" align="right">
                您当前所在位置：首页&gt;&gt;公司简介
              </td>
            </tr>
            </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="25">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font style="FONT-SIZE: 14pt; FONT-FAMILY: 楷体_GB2312">武义县盛宏餐具制品厂</font><font style="FONT-SIZE: 12pt; FONT-FAMILY: 楷体_GB2312">是一家专业生产密胺餐具的厂家，密胺餐具也称美耐皿餐具，是一种国际流行的新型餐具。该产品品质优良，制作精细，具有无毒，无味，耐酸、碱、高强度，便于洗涤等特点，可按客户的需求定制，产品远销中东，欧洲，美国等国家和地区。</font>
                </p>
                <p>
                  <font face="楷体_GB2312" size="3">&nbsp;&nbsp;&nbsp; </font><font style="FONT-SIZE: 12pt; FONT-FAMILY: 楷体_GB2312">公司始终坚持诚信的经营理念，旅行对客户的承诺，并精诚期待与海内外各界人士共谋发展、共创未来......<br style="FONT-FAMILY: ">
                  </font>
                </p>
              </td>
            </tr>
            </tbody>
            </table>
          </td>
        </tr>
        </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>