<table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <%= render :partial => 'product_list' %>
      <td width="769" valign="top" style="padding-top:14px;"><table width="768" border="0" align="right" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="35" background="<%= image_url('barbg.jpg') %>"><table width="744" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="206"><span class="STYLE2">About us</span></td>
            <td width="538" align="right">You are here:Home&gt;&gt;About us</td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td height="25">&nbsp;</td>
      </tr>
      <tr>
        <td><table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td> 
<p>Hangzhou RiPei Trading Co., Ltd is a set of Home Furnishing daily development, production and sales as one of the Professional Company.Focus on createing their own high-quality daily-use products for Chinese. Has been adhering to the low profile of high standard international top brands and Chinese Internet brand, employ the national best daily class industrial designers in product design, let more families can spend less cost to buy the same products as international top brands. The company always uphold the integrity-based business philosophy, fulfil the commitments to customers, and sincerely look forward to working with people from all walks of life at home and abroad and seek common development, create the future.</p></td>
            </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
    </tr>
  </tbody>
</table>