<table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <%= render :partial => 'product_list' %>
      <td width="769" valign="top" style="padding-top:14px;"><table width="768" border="0" align="right" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="35" background="<%= image_url('barbg.jpg') %>"><table width="744" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="206"><span class="STYLE2">About us</span></td>
            <td width="538" align="right">You are here:Home&gt;&gt;About us</td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td height="25">&nbsp;</td>
      </tr>
      <tr>
        <td><table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td> 
<p><a name="OLE_LINK6"></a>&nbsp;&nbsp; <a name="OLE_LINK5">Wuyi Shenghong Tableware Products Factory is a professional melamine tableware manufacturer .Melamine tableware is an internationally popular new type of tableware. The products have high quality including fine workmanship and beautiful packing ,non-toxic ,tasteless, acid proof, alkali resistivity , in high strength and easy to wash .The products could be manufactured according to customers ’requirement, and the products are exported to the middle east, the Europe country, the united states of America and other regions of the world.</a>&nbsp;<br>&nbsp;&nbsp; Operating under sincerity and fulfilling our commitments to customers, our company is looking forward to cooperate and develop with customers from home and abroad for our mutual better future!</p></td>
            </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
    </tr>
  </tbody>
</table>