<table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <%= render :partial => 'product_list' %>
      <td width="769" valign="top" style="padding-top:14px;">
        <table width="768" border="0" align="right" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td height="35" background="<%= image_url('barbg.jpg') %>">
            <table width="744" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td width="206">
                <span class="STYLE2">公司简介</span>
              </td>
              <td width="538" align="right">
                您当前所在位置：首页&gt;&gt;公司简介
              </td>
            </tr>
            </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="25">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font style="FONT-SIZE: 14pt; FONT-FAMILY: 楷体_GB2312">杭州日沛贸易有限公司</font><font style="FONT-SIZE: 12pt; FONT-FAMILY: 楷体_GB2312">是一家集家居日用开发、生产和销售为一体的专业公司。
</font>
                </p>
                <p>
                  <font face="楷体_GB2312" size="3">&nbsp;&nbsp;&nbsp; </font><font style="FONT-SIZE: 12pt; FONT-FAMILY: 楷体_GB2312">日沛RPPZ风靡欧美市场的时尚轻奢家居品牌，凭借高档品质，平实的价格，健康的理念，融入自己个性化的设计，并采用德国先进制造工艺，让“日沛RPPZ”一经推出，就迅速得到广大客户的认可。我们以中国互联网低姿态，坚持诚信为本的经营理念，精诚期待与海内外各界人士共谋发展共创未来。<br style="FONT-FAMILY: ">
                  </font>
                </p>
              </td>
            </tr>
            </tbody>
            </table>
          </td>
        </tr>
        </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>