<table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <%= render :partial => 'product_list' %>
      <td width="769" valign="top" style="padding-top:14px;"><table width="768" border="0" align="right" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="35" background="<%= image_url('barbg.jpg') %>"><table width="744" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="206"><span class="STYLE2">联系我们</span></td>
            <td width="538" align="right">您当前所在位置：首页&gt;&gt;联系我们</td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td height="25">&nbsp;</td>
      </tr>
      <tr>
        <td><table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td><p><font style="FONT-SIZE: 14pt">武义县盛宏餐具制品厂</font></p>
<p>地址：中国.浙江.武义东南工业园区冷水坑</p>
<p>电话:0089-579-7707686</p>
<p>手机:0089-13065950666 13777537535</p>
<p>传真:0089-579-87707685</p>
<p>Email：<a target="_blank" href="mailto:sun030221@hotmail.com">sun030221@hotmail.com</a> <a target="_blank" href="mailto:samsun@shtableware.com">samsun@shtableware.com</a></p>
<p>网址：<a href="http://www.shtableware.com">www.shtableware.com</a></p>
<p>阿里巴巴：<a href="http://ykshxs.cn.alibaba.com">http://ykshxs.cn.alibaba.com</a></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://shtableware.en.alibaba.com">http://shtableware.en.alibaba.com</a></p>
<p>&nbsp;</p></td>
            </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
    </tr>
  </tbody>
</table>
