<table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <%= render :partial => 'product_list' %>
      <td width="769" valign="top" style="padding-top:14px;"><table width="768" border="0" align="right" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="35" background="<%= image_url('barbg.jpg') %>"><table width="744" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="206"><span class="STYLE2">Contact us</span></td>
            <td width="538" align="right">You are here:Home&gt;&gt;Contact us</td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td height="25">&nbsp;</td>
      </tr>
      <tr>
        <td><table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td> 
<p>ADD：Lengshuikeng,Dongnan Industrial Zone, Wuyi County ,Jinhua ,Zhejiang China (Mainland), Wuyi Shenghong Tableware Products Factory</p>
<p>TEL：0086-579-87707686，0086-13065950666，0086-13777537535</p>
<p>FAX：0086-579-87707685</p></td>
            </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
    </tr>
  </tbody>
</table>
