<table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <%= render :partial => 'product_list' %>
      <td width="769" valign="top" style="padding-top:14px;"><table width="768" border="0" align="right" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="35" background="<%= image_url('barbg.jpg') %>"><table width="744" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="206"><span class="STYLE2">Feedback</span></td>
            <td width="538" align="right">You are here:Home&gt;&gt;Feedback</td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td height="25">&nbsp;</td>
      </tr>
      <tr>
        <td><table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td><table width="460" border="0" align="center" cellpadding="0" cellspacing="0">

                  <form name="form1" method="post" action="?act=add"></form>
                    <tbody><tr>
                      <td height="30" colspan="4" class="rm">Dear Sir/Madam , Welcome to our website ! Please feel free to send your enquiry   to us by the following form,We will contact you as soon as possible and offer   you the corresponding services. </td>
                    </tr>
                    <tr>
                      <td width="63" height="30" class="rm">&nbsp;&nbsp;Subject </td>
                      <td colspan="3"><input name="title" type="text" size="30">
                          <font color="#FF0000">*</font></td>
                    </tr>
                    
                    <tr>
                      <td height="30" class="rm">&nbsp;&nbsp;Name</td>
                      <td height="25" colspan="3"><input name="name" type="text" size="30">
                          <font color="#FF0000">*</font>
                          <input name="sex" type="radio" value="先生" checked="checked">
                        Man
                        <input type="radio" name="sex" value="女士">
                        Lady</td>
                    </tr>
                   
                    <tr>
                      <td height="30">&nbsp;&nbsp;Company</td>
                      <td height="25" colspan="3"><input name="company" type="text" size="30"></td>
                    </tr>
                    
                    <tr>
                      <td height="30" class="rm">&nbsp;&nbsp;Add</td>
                      <td height="25" colspan="3"><input name="add" type="text" size="30"></td>
                    </tr>
                    
                    <tr>
                      <td height="30" class="rm">&nbsp;&nbsp;Tel</td>
                      <td width="173" height="25"><input name="tel" type="text" size="20">
                          <font color="#FF0000"> *</font></td>
                      <td width="63">&nbsp;&nbsp;Fax</td>
                      <td width="156"><input name="fax" type="text" size="20"></td>
                    </tr>
                   
                    <tr>
                      <td height="30" class="rm">&nbsp;&nbsp;http://</td>
                      <td height="25" colspan="3"><input name="homeurl" type="text" size="30"></td>
                    </tr>
                   
                    <tr>
                      <td height="30" class="rm">&nbsp;&nbsp;E-mail</td>
                      <td height="25" colspan="3"><input name="email" type="text" size="30"></td>
                    </tr>
                   
                    <tr align="center">
                      <td height="30" colspan="4" class="rm"><input type="radio" name="type1" value="咨询" checked="checked">
                        Consultation
                          <input name="type1" type="radio" value="定购">
                        Order
                        <input type="radio" name="type1" value="建议">
                        Recommend</td>
                    </tr>
                    <tr>
                      <td height="25" colspan="4"><table width="458" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                            <td width="55" align="center" class="b12">Content</td>
                            <td width="328" bgcolor="#F6F6F6"><textarea name="content" cols="45" rows="6"></textarea></td>
                            <td width="75">&nbsp;<font color="#FF0000">*</font></td>
                          </tr>
                          <tr>
                            <td height="40" colspan="3" align="center" class="style3"><table width="300" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td align="center"><input type="submit" name="Submit3" value="Submit"></td>
                                  <td><input type="reset" name="Submit22" value="Reset"></td>
                                </tr>
                            </tbody></table></td>
                          </tr>
                      </tbody></table></td>
                    </tr>
                  
                </tbody></table>
</td>
            </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
    </tr>
  </tbody>
</table>