<table width="970" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <%= render :partial => 'product_list' %>
      <td width="769" valign="top" style="padding-top:14px;"><table width="768" border="0" align="right" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="35" background="<%= image_url('barbg.jpg') %>"><table width="744" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="206"><span class="STYLE2">信息反馈</span></td>
            <td width="538" align="right">您当前所在位置：首页&gt;&gt;信息反馈</td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td height="25">&nbsp;</td>
      </tr>
      <tr>
        <td><table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td><table width="527" border="0" align="center" cellpadding="0" cellspacing="0">
    
        <form name="form1" method="post" action="?act=add"></form>
          <tbody><tr>
            <td colspan="4" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td height="40" align="center" class="b12">感谢您对我们网站的访问，如果您对我们的产品感兴趣，我们欢迎您的咨询及订购！</td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td width="63" height="30" align="left">&nbsp;&nbsp;标题 </td>
            <td colspan="3"><input name="title" type="text" id="title" size="30">
                <font color="#FF0000">*</font></td>
          </tr>
          
          <tr>
            <td height="30" align="left">&nbsp;&nbsp;联系人</td>
            <td height="25" colspan="3"><input name="name" type="text" size="30">
                <font color="#FF0000">*</font>
                <input name="sex" type="radio" value="先生" checked="">
                先生
                <input type="radio" name="sex" value="女士">
              女士</td>
          </tr>
          
          <tr>
            <td height="30" align="left">&nbsp;&nbsp;公 司</td>
            <td height="25" colspan="3"><input name="company" type="text" size="30"></td>
          </tr>
          
          <tr>
            <td height="30" align="left">&nbsp;&nbsp;地 址</td>
            <td height="25" colspan="3"><input name="add" type="text" size="30"></td>
          </tr>
          
          <tr>
            <td height="30" align="left">&nbsp;&nbsp;电 话</td>
            <td width="210" height="25"><input name="tel" type="text" size="20">
            <font color="#FF0000"> *</font></td>
            <td width="73">&nbsp;&nbsp;传&nbsp;真</td>
            <td width="181"><input name="fax" type="text" size="20"></td>
          </tr>
          
          <tr>
            <td height="30" align="left">&nbsp;&nbsp;http://</td>
            <td height="25" colspan="3"><input name="homeurl" type="text" size="30"></td>
          </tr>
          
          <tr>
            <td height="30" align="left">&nbsp;&nbsp;E-mail</td>
            <td height="25" colspan="3"><input name="email" type="text" size="30"></td>
          </tr>
          
          <tr align="center">
            <td height="30" colspan="4"><div align="center">
              <input type="radio" name="type1" value="咨询" checked="">
                咨询
                <input name="type1" type="radio" value="定购">
                定购
                <input type="radio" name="type1" value="建议">
                建议</div></td>
          </tr>
          <tr>
            <td height="25" colspan="4"><table width="458" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="55" align="center" class="b12">留<br>
                    言</td>
                  <td width="328" bgcolor="#F6F6F6"><textarea name="content" cols="45" rows="6"></textarea></td>
                  <td width="75">&nbsp;<font color="#FF0000">*</font></td>
                </tr>
                <tr>
                  <td colspan="3" align="center"><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tbody><tr>
                        <td height="40" align="center"><div align="center">
                          <input type="submit" name="Submit3" value="留言">
                        </div></td>
                        <td><div align="center">
                          <input type="reset" name="Submit22" value="撤销">
                        </div></td>
                      </tr>
                  </tbody></table></td>
                </tr>
            </tbody></table></td>
          </tr>
        
    </tbody></table></td>
            </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
    </tr>
  </tbody>
</table>