body {
	font-family: "Arial";
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	background:#F8F7F2 ;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

td {
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #0D0D0D;
	text-decoration: none;
}
a {
	
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #0D0D0D;
	text-decoration: none;
}
a:hover {
	
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: underline;
}
a.p {
	
	font-size: 12px;
	line-height: 18px;
	color: #0D0D0D;
	text-decoration: none;
}

a.p:hover {
	
	font-size: 12px;
	line-height: 18px;
	color: #FF0000;
	text-decoration: none;
	
}

a.t {
  
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}
a.t:hover {
	
	font-size: 14px;
	line-height: 18px;
	color: #FF0000;
	text-decoration: none;
	
}
select {
	
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}

