<!DOCTYPE html>
<html>
<head>
  <title>武义县盛宏餐具制品厂</title>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
  <meta name="Keywords" content="武义县盛宏餐具制品厂" />
  <meta name="Description" content="武义县盛宏餐具制品厂" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  <!--
  .STYLE1 {color: #88AA0B}
  -->
  </style>
</head>

<body>

<%= yield %>

</body>
</html>
